.searchContainers {
  width: 100vw;
  height: 25vh;
  display: flex;
  background-color: #ff877f;
  align-items: center;
  flex-direction: row;
  padding: 0% 10%;
  gap: 5%;
}

.domainTitle {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .searchContainers {
    flex-direction: column;
    justify-items: flex-start;
  }
  .domainTitle {
    font-size: 1.5rem;
  }

  .theButton {
    width: 100%;
  }
  .input {
    width: 100%;
  }
}
